@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("./assets/Fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("./assets/Fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/Fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("./assets/Fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/Fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.b1 {
  background-color: rgb(175, 241, 241);
}
.b2 {
  background-color: rgb(241, 237, 175);
}
.b3 {
  background-color: rgb(175, 241, 184);
}
.b4 {
  background-color: rgb(215, 175, 241);
}
.b5 {
  background-color: rgb(241, 175, 175);
}
